<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <header><h1>Bienvenido administrador</h1></header>
    <main>
      <section class="creacion-producto">
        <h2>Crear producto</h2>
        <form action="" id="crear-producto">
          <input type="text" placeholder="Nombre" id="nombre-product" />
          <input type="number" placeholder="Precio" id="precio-product"/>
          <input type="number" placeholder="Stock" id="stock-product"/>
          <button type="submit">Crear</button>
        </form>
        <div class="error-producto"></div>
      </section>
    </main>
    <footer></footer>
  </body>
  <script src="/js/admin.js"></script>
</html>
